*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    --main-theme-color: #ff3e00;
    --main-text-color: #444;
    --main-bg-color: #fff;
    --main-hover-color: #ff3e00;
    --font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    font-family: var(--font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}