@import '../static/fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --main-theme-color: #ff3e00;
    --main-text-color: #444;
    --main-bg-color: #fff;
    --main-hover-color: #ff5b24;
    --main-border-color: #ededed;

    --filter-bg-color: #faf8f8;

    --font: 'Jost', sans-serif;
    --font-size-default: 16px;
    --transition-timing: .2s;
    
}

.material-icons-two-tone {
    color: var(--main-text-color);
}

body {
    font-family: var(--font);
    font-size: var(--font-size-default);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

option {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* убираем скачок при появлении контента */
@media screen and (min-width: 1240px) {
    html {
        overflow-x: hidden;
        margin-right: calc(-1 * (100vw - 100%));
    }
}